/*Base Styles*/

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #ECEAE0;
  font: 1rem/1.5 'Varela Round', sans-serif, Helvetica, 'Century Gothic';
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  padding: .5em;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
}

h1,
h2,
h3 {
  line-height: 1.3;
  color: #3E474E;
}
h1{
  font-size: 1.6rem;
}

h2 {
  font-size: 1.25rem;
  padding-top: 1em;
}

h3 {
  font-size: .85rem;
}

nav {
  padding-bottom: 15px;
  max-width: 500px;
  margin: auto;
}

a {
  color: inherit;
  font-weight: bold;
  text-decoration: none;
}

nav a {
  display: block;
  background-color: #fff;
  margin-top: 5px;
  padding: 10px;
}

nav a:hover {
  background-color: #EDEDED;
}

footer {
  font-weight: bold;
}

/*ID Selectors*/
#title {
  letter-spacing:.055em;
}

#profile-picture {
  object-fit: cover;
  width: 250px;
  padding-top: 12px;
  padding-bottom: 12px;
  height: 250px;
  filter: drop-shadow(0px 0px 1px rgba(0,0,0,.3))
  drop-shadow(0px 0px 10px rgba(0,0,0,.3));
}

#portfolio {
  width: 100%;
  margin: auto;
  background-color: #fff;
  max-width: 1200px;
}

#portfolio img {
  max-width: 100%;
  padding-top: 12px;
}

#contact {
  padding-top: 12px;
  padding-bottom: 12px;
}

/*Class Selectors*/

.site-container {
  min-height: 100vh
}

.portfolio-wrapper {
    background-color: #fff;
}

.header,
.main-nav,
.primary-content,
.contact-container {
  text-align: center;
}

.portfolio-header {
  padding-top: 18px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bolder;
}

.primary-content {
  padding-bottom: 12px;
}

.contact-container {
    border-bottom: solid 1px lightgrey;
    padding-top: 12px
}

.bottom-nav {
  display: none;
}

.portfolio-wrapper {
  border-radius: .2em;
  border: solid 4px white;
  box-shadow: 0 1px 14px rgba(0,0,0, .12);
}

.contact-container {
  background-color: #ECEAE0;
  padding-bottom: 12px;
}

.contact-info {
  line-height: 2em;
}

.main-nav,
#portfolio,
.main-footer,
.footer,
.contact-container,
.header {
  width: 90%;
  margin: auto;
  /* max-width: 900px; */
}

.main-nav {
  margin-top: 1em;
}

.profile-container p {
  max-width: 90%;
  margin: auto;
  text-align: center;
}

.flex p {
  padding:0 12px;
}

.main-footer {
  display: flex;
  justify-content: space-between;
}

.flex {
  flex: 1 100%;
}



/* Media Queries -------- */

@media(min-width: 768px) {

/* layout */

  nav {
    padding-bottom: 0;
  }

  nav a {
    background-color: inherit;
    }

  .flex {
       margin: 15px 6px;
  }

  .contact-container {
    padding-top: 12px;
    width: 60%;
  }

  .home {
    display: none;
  }

  .main-footer {
    text-align: center;
    margin: auto;
  }

  .bottom-nav {
    display: flex;
    margin: 0;
  }


  /* flex */

  .main-nav,
  nav {
    display: flex;
    justify-content: center;
  }

  .main-nav {
    flex-direction: column;
    align-items: center;
  }

  .profile-container {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    padding-top: 24px;
    padding-bottom: 24px
  }

  #profile-picture {
    flex:1;
    margin: 8px;
    width: 100px;
    height: 150px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 18px;
    border-radius: 0;
  }

  .profile-container p {
    flex: 2;
    text-align: left;
    margin-top: 0;
    padding-right: 50px;
  }

  .primary-content {
   display:inline-flex;
   flex-wrap: wrap;
   justify-content: center;
   margin: auto;
  }

  .flex {
    flex: 1 40%;
  }

}

@media(min-width: 1024px) {

/* layout */

  .portfolio-wrapper {
      margin-left: 20px;
      margin-right: 20px;
  }


  .main-nav {
    width: 100%;
  }

  nav {
    padding-bottom: 0;
    max-width: 100%;
  }

  nav,
  nav a {
    margin: 0;
    padding-right: 0;
    padding-left: 2em;
  }

  nav a {
    margin-top: 0px;
  }

  .main-footer {
    width: 1200px;
  }

  .profile-container p {
    padding-right: 8em;
  }

/* flex */

  .profile-container p {
    flex: 1.25;
  }

  .main-nav {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .flex {
    flex: 1 30%;
  }

  #profile-picture {
    flex:1;
    margin: 8px;
    width: 120px;
    height: 200px;
    padding-left: 18px;
    border-radius: 0;
  }

}
