/*Type Selectors*/

* {
  /* border: solid tomato 1px; */
}

body {
  margin: 0;
  background-color: #f7f7f7;
  font: 1rem/1.5 'Varela Round', sans-serif, Helvetica, 'Century Gothic';
}

header {
  padding: 10px;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
}

h1,
h2,
h3 {
  line-height: 1.3;
  color: #3E474E;
}
h1{
  font-size: 1.6rem;
}

h2 {
  font-size: 1.25rem;
}

h3 {
  font-size: .85rem;
}

/* nav {
  width: 90%;
  margin: auto;
} */

a {
  color: inherit;
  font-weight: bold;
  text-decoration: none;
}

nav a {
  display: block;
  background-color: #fff;
  margin-top: 5px;
  padding: 10px;
}

footer {
  font-weight: bold;
}

/*ID Selectors*/

#profile-picture {
width: 70%;
padding: 10%;
}


#portfolio {
  /* width: 90%;
  margin: auto; */
  background-color: #fff;
}

#portfolio img {
  /* margin-left: 4px;
  margin-right: 4px; */
  max-width: 100%;
  /* padding: 10px 0; */
}

#contact {
  background-color: #f7f7f7;
  border-bottom: solid 1px lightgrey;
}

/*Class Selectors*/

.main-nav,
.primary-content,
.contact-container {
  text-align: center;
}

.main-nav {
  padding: 12px;
}

.site-wrapper {
  margin: auto;
}

.portfolio-header {
  padding: 10%;
  text-transform: uppercase;
  font-weight: bolder:
}

.main-footer {
}

/*Layout Styles*/

.main-nav,
.primary-content,
.main-footer,
.footer,
.contact-container {
  width: 90%;
  margin: auto;
}

.flex p {
  padding:0 5px;
}

#portfolio {
  width: 100%;
  margin: auto;
}
